[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
geopandas = "*"
jupyterlab = "*"
altair = "*"
rtree = "*"
matplotlib = "*"
descartes = "*"

[dev-packages]

[requires]
python_version = "3.6"
